body{
  background: url('../img/base/gif-diablx.gif');
  background-repeat: no-repeat;
  background-position: top; /*keep it center within the centred div*/
  background-size: contain; /*use contain to make the image shrink visually*/
  max-height: auto; /*Image height*/
  height: 100vh;
  font-family: Syncopate, Helvetica,Verdana, Arial, Tahoma, Serif;
  z-index: 0; /* Stay on top */
  }

 /* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width:  0%;
  max-width: 300px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  opacity:90%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition:  0.5s ease-in-out; 
  font-family: Syncopate, Helvetica,Verdana, Arial, Tahoma, Serif;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  font-family: Syncopate, Helvetica,Verdana, Arial, Tahoma, Serif;
  text-decoration: none;
  font-size: 15;
  color: #818181;
  display: block;
  transition: 1s;
font-weight:bolder;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  background:none;
  cursor: pointer;
  border: none;
}
button > img{
  width:10%;
  height:10%;
	border: none;
float:left;    
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) and (orientation : portrait) {
body{
  background: url('/home/tino/blue/blue_static/img/gif-diablx.gif');
  background-repeat: no-repeat;
  background-position: center; /*keep it center within the centred div*/
  background-size: contain; /*use contain to make the image shrink visually*/
  font-family: Syncopate, Helvetica,Verdana, Arial, Tahoma, Serif;
  z-index: 0; /* Stay on top */
  }

.sidepanel {
max-width: 30%;
font-size:1.8em;
font-weight:bolder;
width: 0; /* 0 width - change this with JavaScript */
}
.sidepanel .closebtn {
font-size:100px;
}
.openbtn {
  background:none;
  cursor: pointer;
  border: none;
}
button > img{
  width:30%;
  height:30%;
float:left;    
}
}
