body {
margin:0;
padding:0;
overflow:hidden;
background-color:black;
}
section{
height:100%;
width:100%;
  position:absolute ;  
  background:black;
}
.leaf{
    position:absolute ;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.leaf div{
position:absolute ;
display:grid ;
}
.leaf div:nth-child(1){
    left:10%; 
    animation:fall 10s linear infinite ;
    animation-delay:-5s;

}
.leaf div:nth-child(2){
    left:90%; 
    animation:fall 5s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(3){
    left:10%; 
    animation:fall 12s linear infinite ;
    animation-delay:-1s;
    
}
.leaf div:nth-child(4){
    left:50%; 
   animation:fall 12s linear infinite ; 
   animation-delay:-3s;
}
.leaf div:nth-child(5){
    left:85%; 
    animation:fall 10s linear infinite ;
    animation-delay:-15s;
}
.leaf div:nth-child(6){
    left:15%; 
    animation:fall 0.9s linear infinite ;
    animation-delay:-10s;
}
.leaf div:nth-child(7){
    left:20%; 
    animation:fall 5.1s linear infinite ;
    animation-delay:4s;
}

@keyframes fall{
    0%{
        opacity:1;
        top:-10%;
        transform:translateX (120px) rotate(0deg);
    }
    20%{
        opacity:0.8;
        transform:translateX (-20px) rotate(45deg);
    }
    40%{

        transform:translateX (-20px) rotate(90deg);
    }
    60%{
        
       transform:translateX (-20px) rotate(135deg); 
    }
    80%{
    
        transform:translateX (-20px) rotate(180deg);
    }
    100%{
        
        top:110%;
        transform:translateX (-20px) rotate(225deg);
    }
    }
.leaf1{
    transform: rotateX(180deg);
}
h2{
    position:absolute ;
    top:40%;
    width:100%;
	  font-family: 'Courgette', cursive;
    font-size:4em;
    text-align:center;
    transform:translate ;
    color:#fff;
    transform:translateY (-50%);
}

#ui {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-top: -125px;
	 transform: translate(-50%, -50%);
	 transition: 100ms;
}
 #ui .fire {
	 position: bottom;
	 width: 500px;
	 height: 500px;
	 background: #f90;
	 filter: blur(20px) contrast(30);
	 border: 250px solid #000;
	 border-bottom-color: transparent;
	 border-radius: 40%;
	 box-sizing: border-box;
	 transform: scale(0.4, 1);
}
 #ui .fire .burn {
	 position: absolute;
	 top: 500px;
	 left: -50px;
	 width: 100px;
	 height: 100px;
	 background: #000;
	 border-radius: 100%;
}
 #ui .fire .burn.heat:nth-child(1) {
	 height: 5px;
}
 #ui .fire .burn:nth-child(1) {
	 height: 40px;
	 margin-left: 31px;
	 animation: burning 2674ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(2) {
	 height: 7px;
}
 #ui .fire .burn:nth-child(2) {
	 height: 6px;
	 margin-left: -127px;
	 animation: burning 2260ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(3) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(3) {
	 height: 50px;
	 margin-left: -162px;
	 animation: burning 2069ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(4) {
	 height: 1px;
}
 #ui .fire .burn:nth-child(4) {
	 height: 3px;
	 margin-left: 150px;
	 animation: burning 2299ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(5) {
	 height: 4px;
}
 #ui .fire .burn:nth-child(5) {
	 height: 12px;
	 margin-left: -160px;
	 animation: burning 1966ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(6) {
	 height: 5px;
}
 #ui .fire .burn:nth-child(6) {
	 height: 6px;
	 margin-left: 77px;
	 animation: burning 1537ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(7) {
	 height: 5px;
}
 #ui .fire .burn:nth-child(7) {
	 height: 47px;
	 margin-left: -93px;
	 animation: burning 1702ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(8) {
	 height: 5px;
}
 #ui .fire .burn:nth-child(8) {
	 height: 44px;
	 margin-left: 139px;
	 animation: burning 1036ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(9) {
	 height: 2px;
}
 #ui .fire .burn:nth-child(9) {
	 height: 2px;
	 margin-left: 73px;
	 animation: burning 2393ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(10) {
	 height: 7px;
}
 #ui .fire .burn:nth-child(10) {
	 height: 40px;
	 margin-left: -225px;
	 animation: burning 1408ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(11) {
	 height: 5px;
}
 #ui .fire .burn:nth-child(11) {
	 height: 18px;
	 margin-left: 29px;
	 animation: burning 1788ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(12) {
	 height: 3px;
}
 #ui .fire .burn:nth-child(12) {
	 height: 43px;
	 margin-left: -142px;
	 animation: burning 2264ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(13) {
	 height: 6px;
}
 #ui .fire .burn:nth-child(13) {
	 height: 9px;
	 margin-left: -215px;
	 animation: burning 2047ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(14) {
	 height: 4px;
}
 #ui .fire .burn:nth-child(14) {
	 height: 15px;
	 margin-left: 202px;
	 animation: burning 1224ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(15) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(15) {
	 height: 24px;
	 margin-left: -19px;
	 animation: burning 1367ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(16) {
	 height: 6px;
}
 #ui .fire .burn:nth-child(16) {
	 height: 48px;
	 margin-left: 168px;
	 animation: burning 2387ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(17) {
	 height: 6px;
}
 #ui .fire .burn:nth-child(17) {
	 height: 7px;
	 margin-left: 125px;
	 animation: burning 1073ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(18) {
	 height: 1px;
}
 #ui .fire .burn:nth-child(18) {
	 height: 4px;
	 margin-left: -21px;
	 animation: burning 2501ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(19) {
	 height: 6px;
}
 #ui .fire .burn:nth-child(19) {
	 height: 11px;
	 margin-left: 210px;
	 animation: burning 2622ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(20) {
	 height: 6px;
}
 #ui .fire .burn:nth-child(20) {
	 height: 12px;
	 margin-left: 117px;
	 animation: burning 1142ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(21) {
	 height: 6px;
}
 #ui .fire .burn:nth-child(21) {
	 height: 32px;
	 margin-left: -35px;
	 animation: burning 2309ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(22) {
	 height: 4px;
}
 #ui .fire .burn:nth-child(22) {
	 height: 45px;
	 margin-left: -66px;
	 animation: burning 1400ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(23) {
	 height: 9px;
}
 #ui .fire .burn:nth-child(23) {
	 height: 48px;
	 margin-left: -46px;
	 animation: burning 2408ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(24) {
	 height: 3px;
}
 #ui .fire .burn:nth-child(24) {
	 height: 12px;
	 margin-left: 27px;
	 animation: burning 2065ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(25) {
	 height: 8px;
}
 #ui .fire .burn:nth-child(25) {
	 height: 26px;
	 margin-left: 4px;
	 animation: burning 1412ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(26) {
	 height: 3px;
}
 #ui .fire .burn:nth-child(26) {
	 height: 47px;
	 margin-left: -49px;
	 animation: burning 2466ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(27) {
	 height: 4px;
}
 #ui .fire .burn:nth-child(27) {
	 height: 19px;
	 margin-left: 34px;
	 animation: burning 2299ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(28) {
	 height: 7px;
}
 #ui .fire .burn:nth-child(28) {
	 height: 46px;
	 margin-left: -210px;
	 animation: burning 2195ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(29) {
	 height: 1px;
}
 #ui .fire .burn:nth-child(29) {
	 height: 19px;
	 margin-left: -105px;
	 animation: burning 2570ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(30) {
	 height: 9px;
}
 #ui .fire .burn:nth-child(30) {
	 height: 33px;
	 margin-left: 159px;
	 animation: burning 1476ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(31) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(31) {
	 height: 45px;
	 margin-left: 20px;
	 animation: burning 2185ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(32) {
	 height: 6px;
}
 #ui .fire .burn:nth-child(32) {
	 height: 6px;
	 margin-left: -101px;
	 animation: burning 2833ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(33) {
	 height: 8px;
}
 #ui .fire .burn:nth-child(33) {
	 height: 34px;
	 margin-left: 207px;
	 animation: burning 1869ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(34) {
	 height: 6px;
}
 #ui .fire .burn:nth-child(34) {
	 height: 8px;
	 margin-left: 133px;
	 animation: burning 1226ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(35) {
	 height: 5px;
}
 #ui .fire .burn:nth-child(35) {
	 height: 3px;
	 margin-left: 121px;
	 animation: burning 2599ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(36) {
	 height: 4px;
}
 #ui .fire .burn:nth-child(36) {
	 height: 36px;
	 margin-left: 176px;
	 animation: burning 2314ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(37) {
	 height: 1px;
}
 #ui .fire .burn:nth-child(37) {
	 height: 13px;
	 margin-left: -186px;
	 animation: burning 2308ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(38) {
	 height: 1px;
}
 #ui .fire .burn:nth-child(38) {
	 height: 37px;
	 margin-left: -112px;
	 animation: burning 2344ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(39) {
	 height: 9px;
}
 #ui .fire .burn:nth-child(39) {
	 height: 12px;
	 margin-left: -57px;
	 animation: burning 2995ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(40) {
	 height: 3px;
}
 #ui .fire .burn:nth-child(40) {
	 height: 38px;
	 margin-left: -57px;
	 animation: burning 2279ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(41) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(41) {
	 height: 15px;
	 margin-left: -189px;
	 animation: burning 1943ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(42) {
	 height: 1px;
}
 #ui .fire .burn:nth-child(42) {
	 height: 17px;
	 margin-left: -41px;
	 animation: burning 2895ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(43) {
	 height: 9px;
}
 #ui .fire .burn:nth-child(43) {
	 height: 36px;
	 margin-left: -10px;
	 animation: burning 2289ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(44) {
	 height: 8px;
}
 #ui .fire .burn:nth-child(44) {
	 height: 46px;
	 margin-left: -81px;
	 animation: burning 2235ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(45) {
	 height: 2px;
}
 #ui .fire .burn:nth-child(45) {
	 height: 1px;
	 margin-left: -188px;
	 animation: burning 2006ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(46) {
	 height: 8px;
}
 #ui .fire .burn:nth-child(46) {
	 height: 8px;
	 margin-left: 121px;
	 animation: burning 2191ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(47) {
	 height: 8px;
}
 #ui .fire .burn:nth-child(47) {
	 height: 15px;
	 margin-left: 53px;
	 animation: burning 2537ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(48) {
	 height: 1px;
}
 #ui .fire .burn:nth-child(48) {
	 height: 47px;
	 margin-left: -66px;
	 animation: burning 2868ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(49) {
	 height: 4px;
}
 #ui .fire .burn:nth-child(49) {
	 height: 42px;
	 margin-left: -195px;
	 animation: burning 1921ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(50) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(50) {
	 height: 7px;
	 margin-left: 63px;
	 animation: burning 1555ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(51) {
	 height: 2px;
}
 #ui .fire .burn:nth-child(51) {
	 height: 27px;
	 margin-left: 168px;
	 animation: burning 2066ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(52) {
	 height: 4px;
}
 #ui .fire .burn:nth-child(52) {
	 height: 24px;
	 margin-left: 19px;
	 animation: burning 1745ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(53) {
	 height: 8px;
}
 #ui .fire .burn:nth-child(53) {
	 height: 31px;
	 margin-left: 7px;
	 animation: burning 2250ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(54) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(54) {
	 height: 27px;
	 margin-left: 112px;
	 animation: burning 1864ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(55) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(55) {
	 height: 7px;
	 margin-left: -59px;
	 animation: burning 1254ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(56) {
	 height: 8px;
}
 #ui .fire .burn:nth-child(56) {
	 height: 33px;
	 margin-left: -187px;
	 animation: burning 1229ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(57) {
	 height: 5px;
}
 #ui .fire .burn:nth-child(57) {
	 height: 1px;
	 margin-left: -29px;
	 animation: burning 2885ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(58) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(58) {
	 height: 9px;
	 margin-left: 63px;
	 animation: burning 1925ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(59) {
	 height: 2px;
}
 #ui .fire .burn:nth-child(59) {
	 height: 16px;
	 margin-left: -80px;
	 animation: burning 1606ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(60) {
	 height: 2px;
}
 #ui .fire .burn:nth-child(60) {
	 height: 50px;
	 margin-left: 129px;
	 animation: burning 1410ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(61) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(61) {
	 height: 40px;
	 margin-left: -89px;
	 animation: burning 2274ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(62) {
	 height: 3px;
}
 #ui .fire .burn:nth-child(62) {
	 height: 8px;
	 margin-left: -233px;
	 animation: burning 1058ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(63) {
	 height: 3px;
}
 #ui .fire .burn:nth-child(63) {
	 height: 17px;
	 margin-left: -49px;
	 animation: burning 2321ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(64) {
	 height: 8px;
}
 #ui .fire .burn:nth-child(64) {
	 height: 26px;
	 margin-left: 26px;
	 animation: burning 1973ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(65) {
	 height: 2px;
}
 #ui .fire .burn:nth-child(65) {
	 height: 4px;
	 margin-left: -16px;
	 animation: burning 2179ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(66) {
	 height: 3px;
}
 #ui .fire .burn:nth-child(66) {
	 height: 38px;
	 margin-left: -150px;
	 animation: burning 2395ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(67) {
	 height: 9px;
}
 #ui .fire .burn:nth-child(67) {
	 height: 23px;
	 margin-left: 14px;
	 animation: burning 1454ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(68) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(68) {
	 height: 11px;
	 margin-left: -15px;
	 animation: burning 1753ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(69) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(69) {
	 height: 4px;
	 margin-left: 168px;
	 animation: burning 2013ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(70) {
	 height: 5px;
}
 #ui .fire .burn:nth-child(70) {
	 height: 2px;
	 margin-left: 203px;
	 animation: burning 1248ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(71) {
	 height: 2px;
}
 #ui .fire .burn:nth-child(71) {
	 height: 9px;
	 margin-left: 41px;
	 animation: burning 2124ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(72) {
	 height: 4px;
}
 #ui .fire .burn:nth-child(72) {
	 height: 33px;
	 margin-left: -220px;
	 animation: burning 2879ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(73) {
	 height: 10px;
}
 #ui .fire .burn:nth-child(73) {
	 height: 5px;
	 margin-left: 12px;
	 animation: burning 2890ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(74) {
	 height: 6px;
}
 #ui .fire .burn:nth-child(74) {
	 height: 38px;
	 margin-left: -182px;
	 animation: burning 1799ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(75) {
	 height: 1px;
}
 #ui .fire .burn:nth-child(75) {
	 height: 14px;
	 margin-left: -120px;
	 animation: burning 1286ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(76) {
	 height: 4px;
}
 #ui .fire .burn:nth-child(76) {
	 height: 45px;
	 margin-left: 5px;
	 animation: burning 1223ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(77) {
	 height: 3px;
}
 #ui .fire .burn:nth-child(77) {
	 height: 39px;
	 margin-left: -37px;
	 animation: burning 2943ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(78) {
	 height: 8px;
}
 #ui .fire .burn:nth-child(78) {
	 height: 29px;
	 margin-left: -200px;
	 animation: burning 2940ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(79) {
	 height: 1px;
}
 #ui .fire .burn:nth-child(79) {
	 height: 1px;
	 margin-left: -22px;
	 animation: burning 2019ms -3000ms infinite linear;
}
 #ui .fire .burn.heat:nth-child(80) {
	 height: 2px;
}
 #ui .fire .burn:nth-child(80) {
	 height: 21px;
	 margin-left: -155px;
	 animation: burning 2005ms -3000ms infinite linear;
}
 @keyframes burning {
	 0% {
		 transform: translateY(0);
	}
	 100% {
		 transform: translateY(-600px);
	}
}
