
.sidepanel {
  height: 100%; /* Specify a height */
  width:  0%;
  max-width: 300px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  opacity:90%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition:  0.5s ease-in-out; 
  font-family: Verdana, Helvetica,Verdana, Arial, Tahoma, Serif;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  font-family: Verdana, Helvetica,Verdana, Arial, Tahoma, Serif;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 1s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
}
button > img,
button > span {
float: left;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
	     transition-property: all;
  transition-property: transform;
    }
.openbtn:hover {
  color: white;
  border: none;
  transition: 5s;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) and (orientation : portrait) {
.sidepanel {
max-width: 40%;
font-size:3.5em;
font-weight:bolder;
width: 0; /* 0 width - change this with JavaScript */
}
.sidepanel .closebtn {
font-size:100px;
}
}

