
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syncopate">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/about2.css')}}">


<a href="/"><img class="back" src ="/static/img/hueso.png" object-fit=cover ></a>
{%block body%}

<div class = "container">
	<br>
<p style="font-size:40px">ABOUT

<p>Cecilie Blu es grabadorx e ilustradorx independiente nacidx en La Plata, 1990.

</p>
<p>En la actualidad forma parte de la cooperativa grafica de Benteveo Espacio Cultural en La Plata, donde desarrolla distintas labores vinculadas a la organizacion de exposiciones y eventos de grafica y co/coordina el estudio de tatuajes e ilustracion Carbon Cabron.

</p>
<p>Graduadx de la licenciatura en Artes con orientacion en grabado y arte impreso en la UNLP.
</p>
<p>Estudio un año becadx en la Universidad de Artes de la Universidad Autonoma del Estado de Mexico en Toluca, Mexico.
</p>
</div>
<div class="dropdown">
	<p class="dropbtn">> Exposiciones y Eventos</p>
  <div class="dropdown-content">
<p>
.2021 "15 a 21 dias" exposicion colectiva en Subita galeria, La Plata
</p>
 <p>
.2021 Organización y participación dentro del ciclo mensual “Vereda
Gráfica” en Benteveo Espacio Cultural, La Plata</p>
 <p>
.2021 Participación en Tranza, encuentro Federal de gráfica, La Plata
</p>
<p>
.2021 Participación en “Edita”feria de editoriales, con un taller abierto de
grabados y fanzines.
</p>

<p>
.2020 “Hackea la realidad” Obra colectiva de arte correo durante el ASPO.
.2019 Participa con la performance “ Amor Propio” en la exposición
colectiva “Tinta Fresca” en el Centro de Arte de la UNLP.

</p>
<p>
.2019 Dicta taller/performance “ Somos Manada” ritual de iniciación al
amor propio. Centro de Arte UNLP

</p>
<p>
.2019 Participa de “Maní” festival de gráfica en la ciudad de Córdoba

</p>
<p>
.2016-2019 Participa de “Tranza” encuentro Federal de Gráfica
independiente, La Plata.
</p>
<p>

.2018 Participa de la exposición colectiva de libros intervenidos “Circus”,
curaduría por Carlos Pamparana, en el marco de Gallery Days, Palermo
viejo.

</p>
<p>
.2018 Participa de la exposición “70 veces 7”, Centro cultural El Cántaro.
</p>

<p>
.2018 Participa del festival de fanzines y gráfica “CRTL P”, en la ciudad de
Córdoba.

</p>
<p>
.2018 Dicta junto al colectivo “Taller Nómade” el taller de “Autopublicación
Mutante”, en el Centro Experimental Vigo, en la Bienal de Artes de La
Plata.

</p>
<p>
.2017 Obra seleccionada para exposición colectiva en la galería de arte
contemporáneo, Proyecto A.
</p>

<p>
.2017 Participa del encuentro interuniversitario de la UAEMex, con
exposición de proyecto y taller nómade de grabado. Ciudad de México.
</p>

<p>
. 2017 Exposición colectiva de proyectos de investigación en Artes, en la
Escuela Nacional de Pintura, Escultura y Grabado La Esmeralda, Ciudad
de México.

</p>
<p>
. 2017 Participó con el Taller Nómade en el evento Pecha Cucha, Refugio
para emergencias visuales, Toluca, México.

</p>
<p>
. 2016 Obra seleccionada para exposición colectiva en el Salón Provincial
Arte Joven, en el Museo Provincial de Bellas Artes Emilio Petorutti.

</p>
<p>
. 2015-2016 Organización y exposición en el Primer y Segundo Arsenal
de Estampas, en la ciudad de La Plata, Argentina.
</p>
</div>
</div>
{%endblock%}
