{%extends 'base.html' %}
{%block body%}
<div id="content">
  <div class="container">
    <div class="about">
      <div class="about-author">
        <img src="{{ url_for('static',filename='img/prof.jpg')}}">
        <br><br>
        <span>About Me</span>
      </div>
      <div class="about-content">
        <div class="habbits">
          <p>blau</p>
          <p>blaublau</p>
          <div class="things">
            <ul>
              <li> <p>bailemos</p> </li>
              <li> <p>como en la discoteca</p> </li>
              <li> <p>te parece?</p> </li>
              <li> <p>un dulce de menta y una paleta?</p> </li>
            </ul>
          </div>
        </div>
        <br>
      </div>
    </div>
    </div>
  </div>

{%endblock%}
