{%block body%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/calaveras.css')}}">
<html>
    <head>
        <title>
	</title>
    </head>
    <body>
        
    <section>
  </div>
     <div class="leaf">
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     </div>
     
     <div class="leaf leaf1">
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     </div>
     
     <div class="leaf leaf2">
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
     <div>  <img src={{url_for('static',filename='img/194d0ba5d3588766.png')}} height="75px" width="75px"></img></div>
            
     </div>
<div id="ui">
    <div class="fire">
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn heat"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
        <div class="burn"></div>
    </div>
</div>
     </section>
    </body>
</html>
{%endblock%}
