<!--
<img src="/static/img/8c08194231202d7a.JPG"/>
<div class="image"><img src="/static/img/.JPG"/></div>
-->
<script src="/static/js/fullscreen.js"></script>
<script src="/static/js/flickity.pkgd.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syncopate">
<link rel="stylesheet" href="/static/css/flickity.css" media="screen">
<link rel="stylesheet" href="/static/css/fullscreen.css">
<link rel="stylesheet" href="/static/css/diablxs.css">
<link rel="stylesheet" href="/static/css/explicacion2.css">

<a href="/"><img class="back" src ="/static/img/hueso.png" ></a>
{%block body%}
<div class="fondo">
<div class ="explicacion">
<b>DIABLXS</b>
<br>
</div>

<div id="myModal2" class="modal2">
<div class="modal2-content">
<span class="close2">&times;</span>
<br>
<h2>Diablxs es un libro que narra la existencia de los "Diablillxs recolectores", seres mitológicos que habitan la región aledaña al Río de La Plata en Buenos Aires.
El relato nos cuenta sobre sus características, sus hábitos y cómo invocarlos a través de un ritual para hacer una petición.

La obra consiste en una estampa en linóleo de 6 metros de largo por 25 cm, donde podemos observar en forma continua la narración de la historia.</h2>
<br>
<br>
</div>
</div>

<script type="text/javascript">
var modal2 = document.getElementById("myModal2");
var span = document.getElementsByClassName("close2")[0];
span.onclick = function() {
  modal2.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal2) {
    modal2.style.display = "none";
  }
}
</script>

<div class="main-carousel" data-flickity='{
"fullscreen": true,
"freeScroll": true,
"prevNextButtons": true,
"pageDots": false,
"cellAlign": "left",
"resize": false,
"wrapAround": true 
  }'>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/00.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/01.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/1.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/2.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/3.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/4.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/5.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/6.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/7.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/8.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/9.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/91.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/92.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/93.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/94.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/95.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/96.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/97.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/98.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/99.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/991.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/992.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/993.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/994.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/995.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/996.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/997.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/998.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/999.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/9991.png')"/></div>
<div class="carousel-cell" style="background-image:url('/static/img/bluediablos/9992.png')"/></div>
</div>
<br>
<br>
<br>
<br>
{%endblock%}
