POLÍTICA DE PRIVACIDAD

<br>

El presente Política de Privacidad establece los términos en que toxicositos beach desarrollado por constantino barrios biondi usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento.

<br>

Información que es recogida

<br>

Nuestra aplicacion  recoge la información personal del nombre que pongas en el juego para mostrar una tabla de puntajes. Nada mas que eso.
<br>

Uso de la información recogida
<br>

Utilizamos el nombre para asignarle un puntaje y ponerte en la tabla de ganadores, no utilizamos la informacion para nada mas.
<br>

Cookies
<br>

No hay cookies
<br>

Enlaces a Terceros
<br>
no hay enlances a terceros
<br>

Control de su información personal
<br>

En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada a nuestro app mediante un correo a tinolski@gmail.com

<br>
Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.

<br>
toxicositos beach y constantino barrios no cambiara los términos de la presente Política de Privacidad en cualquier momento.
<br>

