<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/flip.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/explicacion.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syncopate">
{%block body%}
<a href="/"><img class="back" src ="/static/img/hueso.png" ></a>

<div id="myModal2" class="modal2">
<div class="modal2-content">
<span class="close2">&times;</span>
<br>
<h1>Tarot</h1>
<h1>No binarix</h1>
<h1>No humanx</h1>
<br>
<br>
<h2>
Este mazo está compuesto por 22
xilografías originales impresas 
en prensa de grabado calcográfico
</h2>
</div>
</div>

<script type="text/javascript">
var modal2 = document.getElementById("myModal2");
var span = document.getElementsByClassName("close2")[0];
span.onclick = function() {
  modal2.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal2) {
    modal2.style.display = "none";
  }
}
</script>

<div class="container">
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/2d2c122bc4537620.jpg')}} style="width;250px;height:360px;position:center;" alt="Lx Locx: Representa el comienzo del viaje, es inocente, ya que carece de prejuicios, pero no ingenuo. Una energía que todavía no está manifiesta en la tierra. Posibilidad, potencia (previo a la acción). Representa la esencia, el inicio, la semilla.Está despojadx por eso puede ver con claridad. Las posibilidades son infinitas.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table class="modal-content2">
  <td>
  <img class="modal-content" id="img01">
  </td>
  <td>
  <div id="caption"></div>
  </td>
  </table>
</div>	
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/4d9fdfb89692454c.jpg')}} style="width;250px;height:360px;position:center;" alt="I Le brujx: Primera energía que acciona, todos los elementos están en la mesa para crear, ver de qué recursos disponemos para hacer realidad lo que se desea. Crea de manera autónoma. El uroboro simboliza que todo está conectado, nada se crea ni se destruye solo se transforma. La serpiente es energía sexual, y la energía sexual es creativa.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/eb7546acfd9de619.jpg')}} style="width;250px;height:360px;position:center;" alt="II Dama de la Noche: Representa la introspección de la noche, sus misterios y su sabiduría, Hay comprensión de los ciclos naturales y emocionales. Etapa de gestación previa a la expresión.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/1f4a80c0fd540d5f.jpg')}} style="width;250px;height:360px;position:center;" alt="III La Granada: Expresión de lo que se estaba gestando. La granada está lista para salir a la luz, simboliza la fertilidad de unx mismx, la expresión de la sexualidad. Esta carta está vinculada a los placeres. paciencia, receptividad, reflexión. Vinculada a la energía de la luna">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/061e201538a4e4c7.jpg')}} style="width;250px;height:360px;position:center;" alt=" IV El carnero: Representa el sostén
que materializa lo expresado, la
concreción. Es una carta resolutiva,
gestiona, da orden a lo creado, pone
límites (es una contención). Acción
pragmática.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/20fa4cc23ece1fe0.jpg')}} style="width;250px;height:360px;position:center;" alt=" V La Guía: Representa el puente hacia
algo nuevo, hacia lo más esencial. La
guía nos conduce hacia nuestra propia
verdad, hacia unx mismx, se produce
un quiebre de lo que ya no era.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/c007038a6f6e4cec.jpg')}} style="width;250px;height:360px;position:center;" alt="VI Lxs amantes: Apertura a una nueva
forma, a nuevos vínculos. Elección y duda ante el comienzo de nuevas
posibilidades.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/7bd90964ad0761b1.jpg')}} style="width;250px;height:360px;position:center;" alt="VII El Carro: El carro avanza sobre
las elecciones tomadas. Se vincula a
la autonomía, a tomar las riendas: la
energía equilibrada posibilita el
avance, está en su eje, no tiene
duda. Acción concreta, genera
movimiento en la materia.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/a15e1cbd4f86f810.jpg')}} style="width;250px;height:360px;position:center;" alt="VIII La justicia: La justicia se
aplica en unx mismx y con lxs demás,
búsqueda de equilibrio a través de
una selección. Aprender a ver que
somos merecedores cortando viejas
formas que nos limitan. Equidad, dar
y recibir.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/e1f366c97b53b007.jpg')}} style="width;250px;height:360px;position:center;" alt="IX El Ermitaño: Simboliza el
recogimiento, energía hacia adentro,
introspección, para cultivar una
nueva visión. Enciende una luz en la
oscuridad, la sabiduría funciona como
guía.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/9f221fe5d0e451d1.jpg')}} style="width;250px;height:360px;position:center;" alt="X La rueda: Representa lo cíclico de
lo eterno, la constancia de los cambios, cierre y apertura de nuevos
ciclos, muestra el ascenso y la
caída. No hay un control total sobre
las cosas.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/753296eefbe12a66.jpg')}} style="width;250px;height:360px;position:center;" alt="XI La Fuerza: La fuerza del espíritu
doma al ego, a la mente, a nuestros
enemigos internos. La autovaloración
genera la fuerza. Empoderamiento.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/8dfc6ed34cf550cc.jpg')}} style="width;250px;height:360px;position:center;" alt="XII Le Colgadx: Pausa para
re-pensarse. Espera, pasividad,
escucha. Búsqueda de una nueva
perspectiva, otra forma de ver las
cosas. La inversión produce
incomodidad, pero hay una aceptación
y una entrega a la situación.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/b3ac481e83338d05.jpg')}} style="width;250px;height:360px;position:center;" alt="XIII El Arcano sin nombre:
Transformación profunda conforme a
ciclos naturales, se remueve la
tierra para volver a sembrar. Cambio
externo producto de cambios internos.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/1bc1182c5dd7ae0b.jpg')}} style="width;250px;height:360px;position:center;" alt="XIV La Templanza: Representa la
vuelta a la calma, sentirse sostenidx
espiritualmente; transformación,
metamorfosis en el flujo de un estado
a otro. Confianza.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/9e1eb7f7eda65007.jpg')}} style="width;250px;height:360px;position:center;" alt="XV Le diablx: Vinculado a las
creencias sobre el plano material. Le
diablx no tiene dogmas, impera lo
instintivo y carnal, frente a lo
intelectivo y lo racional. Aparece
una situación de dominación y/o
sometimiento.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/5e26e86c60f029fe.jpg')}} style="width;250px;height:360px;position:center;" alt="XVI La Torre: Destrucción de una
estructura limitante, ruptura
necesaria. Quiebre, momento de crisis
imprescindible e importante, produce
incomodidad, pero trae liberación y
maduración.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/7697835902bd6876.jpg')}} style="width;250px;height:360px;position:center;" alt="XVII La Estrella: Invita a lo
creativo. Momento después de la
herida, regenera. Movimiento y
conexión con el universo.
Inspiración.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/7b791a66229c1c29.jpg')}} style="width;250px;height:360px;position:center;" alt="XVIII La Luna: Representa el
subconsciente, el sueño, la memoria,
los patrones emocionales. Muestra la oscuridad, el mundo subterráneo en
nosotrxs mismxs, los miedos, lo que
necesitamos que emerja de las
profundidades para no seguir
repitiendo viejas actitudes que nos
perjudican.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/fb095eefc5cc9179.jpg')}} style="width;250px;height:360px;position:center;" alt="XIX El Sol: Representa la vitalidad,
la potencia de todo lo que somos, la
confianza en lo que tenemos para dar,
para compartir con lxs demás.
Reconciliación con nuestra propia
identidad.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/a383141f4df73336.jpg')}} style="width;250px;height:360px;position:center;" alt="XX El Juicio: Escuchar el llamado,
preparación para pasar a una nueva
etapa, a integrar todo lo trabajado.
Reconciliación, dejar de enjuiciarse
para poder avanzar a lo siguiente.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
<!--inicio cards -->
<div class="flip-card">
 <div class="flip-card-inner">
  <div class="flip-card-front">
	  <img src={{url_for('static',filename='img/40f71526f1cf4186.jpg')}} style="width;250px;height:360px;position:center;">
  </div>
    <div class = "flip-card-back">
    <img class="myImg" src={{url_for('static',filename='img/7a285608d57f3cce.jpg')}} style="width;250px;height:360px;position:center;" alt="XXI El Mundo: Completud. Finalización
de un proceso y nuevos comienzos.
Satisfacción, disfrute de los frutos
de lo sembrado en el camino.">
    </div>
   </div>
  </div>
  <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <table>
  <td>
  <img class="modal-content2" id="img01">
  </td>
  <div id="caption"></div>
  </table>
</div>	
<!--fin cards -->
</div>

<!--fin containers -->

<script type="text/javascript">
var modal = document.getElementById("myModal");
var i;

var img = document.getElementsByClassName("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");

 for(i=0;i< img.length;i++)
   {    
    img[i].onclick = function(){

    modal.style.display = "block";
       modalImg.src = this.src;
       modalImg.alt = this.alt;
       captionText.innerHTML = this.alt;

 }
}

var span = document.getElementsByClassName("close")[0];


span.onclick = function() { 
   modal.style.display = "none";
}
</script>


{%endblock%}

